<div class="container">

  <div class="row">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="item">Add a New Item</label>
        <input type="text" id="item" class="form-control"
               placeholder="Enter content..." name="item"
               required [(ngModel)]="itemValue">
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>

  <hr>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Content from Firebase
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of items | async">
          {{item.content}}
        </li>
      </ul>
    </div>
  </div>
</div>
