<section class="login">
  <form [formGroup]="loginForm"
        (ngSubmit)="onSubmit(f)"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
    <mat-form-field>
      <input type="email" matInput
             ngModel formControlName="email"
             placeholder="Your email">
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput
             ngModel formControlName="password"
             placeholder="Your password">
    </mat-form-field>

    <button type="submit" mat-raised-button
            color="primary">
      Submit
    </button>
  </form>
</section>
