<div class="container">
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores, atque aut autem distinctio ducimus error
      libero nam omnis quibusdam recusandae rem repellat repudiandae suscipit totam unde veniam voluptate,
      voluptatem!</p>
    <p appHighlight>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores, atque aut autem distinctio
      ducimus error libero nam omnis quibusdam recusandae rem repellat repudiandae suscipit totam unde veniam voluptate,
      voluptatem!</p>
    <!-- if [...] we need '...' -->
    <p appHighlight [defaultColor]="'yellow'" highlightColor="orange">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores, atque aut autem distinctio
      ducimus error libero nam omnis quibusdam recusandae rem repellat repudiandae suscipit totam unde veniam voluptate,
      voluptatem!</p>
  </div>
</div>
