.row {
  background-color: beige;
}

.row:first-of-type {
  padding-top: 20px;
}

h3 {
  margin-bottom: 1em;
}

label {
  padding: 3px;
}

input.form-control {
  width: 15em;
}

button {
  margin-left: 10px;
}

.text-present {
  color: white;
}
