<div class="container">
  <div class="row">
    <label>
      <span [ngStyle]="{'background-color': getTextColor()}">Enter some text:</span>
      <input type="text" [(ngModel)]="text"/>
    </label>
  </div>

  <div class="row">
    <span *ngIf="text">You entered: {{text}}</span>
  </div>

  <div class="row">
    <ul>
      <li *ngFor="let item of list; let i = index">#{{i}} {{item}}</li>
    </ul>
  </div>

  <div class="row">
    <div [ngSwitch]="value">
      <p *ngSwitchCase="1">Value: 1</p>
      <p *ngSwitchCase="2">Value: 2</p>
      <p *ngSwitchDefault>Value: other</p>
    </div>
  </div>

  <div class="row">
    <app-lifecycle [value]="title">
      <p>Included: {{title}}</p>
    </app-lifecycle>
  </div>

  <div class="row">
    <div app-selectors>
      Loading...
    </div>
  </div>

  <div class="row">
    <app-binding [value]="value">
    </app-binding>
  </div>

  <div class="row">
    <app-observables>
    </app-observables>
  </div>

  <div class="row">
    <app-http>
    </app-http>
  </div>
</div>
