<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          two way data binding, *ngIf
        </div>
        <div class="panel-body">
          <div>
            <!-- attribute directive -->
            <label [ngStyle]="{'background-color': getTextColor()}">
              Some Text:
              <input type="text" class="form-control" [(ngModel)]="caption"/>
            </label>
            <button class="btn btn-primary" (click)="onOkButtonClick($event)">OK</button>
          </div>
          <div style="margin-top: 20px">
            <!-- structural directive -->
            <span *ngIf="caption">Your text: {{caption}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          *ngFor
        </div>
        <div class="panel-body">
          <app-data-binding [persons]="persons" (newPersonAdded)="personAdded($event)">
          </app-data-binding>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          lifecycle
        </div>
        <div class="panel-body">
          <app-lifecycle [value]="caption">
            <div>Included content and the entered value: {{caption}}</div>
          </app-lifecycle>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          directives
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>structural</strong> change DOM, *ngIf, *ngFor</li>
              <li class="list-group-item"><strong>attribute</strong> [ngStyle], [ngClass]</li>
            </ul>
          </div>
          <div class="col-xs-6">
            <p appHighlight>Lorem ipsum dolor sit amet, consectetur adipisicing aperiam architecto dolorem.</p>
            <p appHighlight [defaultColor]="'yellow'" highlightColor="orange">
              Lorem ipsum dolor sit amet, consectetur adipisicing aperiam architecto dolorem.</p>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-primary" (click)="showText=!showText">Toggle</button>
            <span *appUnless="showText"> Lorem ipsum dolor sit amet</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          different ways of getting field values ({{item?.name}} - {{item?.content}})
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <app-cockpit (itemCreated)="newItemCreated($event)"></app-cockpit>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
